/*ページ共通部分*/
body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		display: flex; /* フレックスボックスの有効 */
		flex-flow: column; /* 要素を縦に並べる */
		min-height: 100vh; /* 最小でも画面の高さ分のbodyの高さを担保 */
}

header {
		background-color: #e78139;
		color: #fff;
		padding: 0.025px;
		text-align: center;
}
header p {
	color: #fff;
	font-size: 25px;
}

footer {
		position: sticky;
		background: #333;
		padding: 10px;
		text-align: center;
}
footer p {
	color: #fff;
	font-size: 0.875rem;
}

/*コンテンツ全体*/
.content{
	margin: 40px;
  display:flex;
}

.status{
	text-align: center;
}
h1 {
  font-size: 20px;
  color: #158b2b;
}
h2 {
  color: #158b2b;
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
}
form {
  font-weight: bold;
  color: #158b2b;
  font-size: 16px;
}
label {
  margin: 10px;
}
select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-size: 16px;
  color: #158b2b;
  height: 50px;
  width: 150px;
  margin: 10px 0 10px 0;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}





