/*ページ共通部分*/
body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		display: flex; /* フレックスボックスの有効 */
		flex-flow: column; /* 要素を縦に並べる */
		min-height: 100vh; /* 最小でも画面の高さ分のbodyの高さを担保 */
}

header {
		background-color: #e78139;
		color: #fff;
		padding: 0.025px;
		text-align: center;
}
header p {
	color: #fff;
	font-size: 25px;
}

footer {
		position: sticky;
		background: #333;
		padding: 10px;
		text-align: center;
}
footer p {
	color: #fff;
	font-size: 0.875rem;
}
.search{
	margin: 40px;
}
.top {
	text-align: center;
}
.result_area {
	flex: 1;
}
.status{
	text-align: center;
}
h1 {
  font-size: 20px;
  color: #158b2b;
}
form {
  font-weight: bold;
  color: #158b2b;
  font-size: 16px;
}
label {
  margin: 10px;
}
select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-size: 16px;
  color: #158b2b;
  height: 50px;
  width: 150px;
  margin: 10px 0 10px 0;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

select:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.get_search {
  max-width: 180px;
  height: 50px;
  text-align: center;
  border: 2px solid #158b2b;
  font-size: 16px;
  color: #158b2b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.4s;
}

button:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #fff;
}
.shoplist {
	background: #fffcf4;
	border-radius: 8px;
	box-shadow: 0px 0px 5px silver;
	padding: 0.5em 0.5em 0.5em 2em;
	display: flex;
	align-items: center;
	gap: 10px;
}
.shoplist li{
	line-height: 1.5; 
  padding: 0.5em 0;
	list-style: none;
}
.shop{
  color: black;
  font-weight: bold;
	font-size: 20px;
  transition: color 0.3s;
}
.shop:hover {
  color: #ff7043;
}
.next {
  width: 500px;
}
span a {
  margin: 0 7px 0 7px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
span a:hover {
  color: white;
  background-color: blueviolet;
}
h2 {
  color: #158b2b;
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
}
.page {
  margin: 0;
}
.photo img{
	width: 150px;
	height: 150px;
	object-fit: cover;
}