/*ページ共通部分*/
body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		display: flex; /* フレックスボックスの有効 */
		flex-flow: column; /* 要素を縦に並べる */
		min-height: 100vh; /* 最小でも画面の高さ分のbodyの高さを担保 */
    line-height: 60%;
}

header {
		background-color: #FF9241;
		color: #fff;
		padding: 0.5px;
		text-align: center;
    height: 50%;
}
header h3 {
	color: #fff;
	font-size: 13px;
  font-family: 'RocknRoll One', sans-serif;
}
header h1 {
	color: #fff;
	font-size: 40px;
  font-family: 'RocknRoll One', sans-serif;
}

footer {
		position: sticky;
		background: #191d3b;
		padding: 10px;
		text-align: center;
}
footer p {
	color: #fff;
	font-size: 0.875rem;
}

/*コンテンツ全体*/
.content{
	margin: 40px;
  display:flex;
}

.status{
	text-align: center;
}

h1 {
  font-size: 20px;
  color: #191d3b;
}

h2 {
  color: #191d3b;
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
}

p {
  color: #191d3b;
}

i {
  color: #191d3b;
}






